Data Gathering, Data Assessing, Data Cleaning

In [66]:
import pandas as pd

In [91]:
df= pd.read_csv("assignment.csv")

In [92]:
df

,Unnamed: 0,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [93]:
df.info

<bound method DataFrame.info of      Unnamed: 0 IMBD title ID               Original titlÊ  Release year  \
0             0     tt0111161     The Shawshank Redemption    1995-02-10
1             1     tt0068646                The Godfather    09 21 1972
2             2     tt0468569              The Dark Knight   23 -07-2008
3             3     tt0071562       The Godfather: Part II    1975-09-25
4             4     tt0110912                 Pulp Fiction    1994-10-28
..          ...           ...                          ...           ...
96           96     tt0070735                    The Sting    1974-03-21
97           97     tt0082096                     Das Boot    1982-03-18
98           98     tt0059578  Per qualche dollaro in piÃ¹    1965-12-20
99           99     tt1832382      Jodaeiye Nader az Simin    2011-10-21
100         100     tt0045152          Singin' in the Rain    1953-02-05

                         Genrë¨ Duration       Country Content Rating  \
0                         Drama      142           USA              R
1                  Crime, Drama      175           USA              R
2          Action, Crime, Drama      152            US          PG-13
3                  Crime, Drama      220           USA              R
4                  Crime, Drama                    USA              R
..                          ...      ...           ...            ...
96         Comedy, Crime, Drama      129           USA             PG
97   Adventure, Drama, Thriller      149  West Germany              R
98                      Western      132         Italy            NaN
99                        Drama      123          Iran          PG-13
100    Comedy, Musical, Romance      103           USA            NaN

                 Director  Unnamed: 8         Income     Votes  Score
0          Frank Darabont         NaN     $ 28815245  2.278.845   9.3
1    Francis Ford Coppola         NaN    $ 246120974  1.572.674   9.2
2       Christopher Nolan         NaN   $ 1005455211  2.241.615    9.
3    Francis Ford Coppola         NaN  $ 4o8,035,783  1.098.714  9,.0
4       Quentin Tarantino         NaN    $ 222831817  1.780.147  8,9f
..                    ...         ...            ...        ...   ...
96        George Roy Hill         NaN    $ 156000000    236.285   7.5
97      Wolfgang Petersen         NaN     $ 11487676    226.427   7.5
98           Sergio Leone         NaN     $ 15000000    226.039   7.4
99         Asghar Farhadi         NaN     $ 22926076    214.165   7.4
100         Stanley Donen         NaN      $ 1864182    213.152   7.4

[101 rows x 13 columns]>

In [94]:
df.columns

Index(['Unnamed: 0', 'IMBD title ID', 'Original titlÊ', 'Release year',
       'Genrë¨', 'Duration', 'Country', 'Content Rating', 'Director',
       'Unnamed: 8', 'Income', ' Votes ', 'Score'],
      dtype='object')

In [70]:
df

,Unnamed: 0,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [95]:
 df = df.drop(columns=[df.columns[9]])

In [96]:
df

,Unnamed: 0,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [97]:
df.columns = df.columns.str.lower()

In [75]:
df

,unnamed: 0,imbd title id,original titlê,release year,genrë¨,duration,country,content rating,director,votes,score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,236.285,7.5
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,226.427,7.5
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,226.039,7.4
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,214.165,7.4
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,213.152,7.4

In [50]:
new = df["imbd title id"].str.split("tt", n = 1, expand = True)

In [51]:

df

,unnamed: 0,imbd title id,original titlê,release year,genrë¨,duration,country,content rating,director,income,votes,score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [54]:
df

,unnamed: 0,imbd title id,original titlê,release year,genrë¨,duration,country,content rating,director,income,votes,score
0,0,"[, 0111161]",The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,1,"[, 0068646]",The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,2,"[, 0468569]",The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,3,"[, 0071562]",The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,"[, 0110912]",Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,"[, 0070735]",The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,97,"[, 0082096]",Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,98,"[, 0059578]",Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,99,"[, 1832382]",Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,100,"[, 0045152]",Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [89]:
df.info

<bound method DataFrame.info of      unnamed: 0 imbd title id               original titlê  release year  \
0             0     tt0111161     The Shawshank Redemption    1995-02-10
1             1     tt0068646                The Godfather    09 21 1972
2             2     tt0468569              The Dark Knight   23 -07-2008
3             3     tt0071562       The Godfather: Part II    1975-09-25
4             4     tt0110912                 Pulp Fiction    1994-10-28
..          ...           ...                          ...           ...
96           96     tt0070735                    The Sting    1974-03-21
97           97     tt0082096                     Das Boot    1982-03-18
98           98     tt0059578  Per qualche dollaro in piÃ¹    1965-12-20
99           99     tt1832382      Jodaeiye Nader az Simin    2011-10-21
100         100     tt0045152          Singin' in the Rain    1953-02-05

                         genrë¨ duration       country content rating  \
0                         Drama      142           USA              R
1                  Crime, Drama      175           USA              R
2          Action, Crime, Drama      152            US          PG-13
3                  Crime, Drama      220           USA              R
4                  Crime, Drama                    USA              R
..                          ...      ...           ...            ...
96         Comedy, Crime, Drama      129           USA             PG
97   Adventure, Drama, Thriller      149  West Germany              R
98                      Western      132         Italy            NaN
99                        Drama      123          Iran          PG-13
100    Comedy, Musical, Romance      103           USA            NaN

                 director     votes  score
0          Frank Darabont  2.278.845   9.3
1    Francis Ford Coppola  1.572.674   9.2
2       Christopher Nolan  2.241.615    9.
3    Francis Ford Coppola  1.098.714  9,.0
4       Quentin Tarantino  1.780.147  8,9f
..                    ...        ...   ...
96        George Roy Hill    236.285   7.5
97      Wolfgang Petersen    226.427   7.5
98           Sergio Leone    226.039   7.4
99         Asghar Farhadi    214.165   7.4
100         Stanley Donen    213.152   7.4

[101 rows x 11 columns]>

In [84]:
df_1=df['imbd title id'].str.split('tt', expand=True)

In [86]:
df_1

    0         1
0       0111161
1       0068646
2       0468569
3       0071562
4       0110912
..  ..      ...
96      0070735
97      0082096
98      0059578
99      1832382
100     0045152

[101 rows x 2 columns]

In [90]:
df

,unnamed: 0,imbd title id,original titlê,release year,genrë¨,duration,country,content rating,director,votes,score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,236.285,7.5
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,226.427,7.5
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,226.039,7.4
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,214.165,7.4
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,213.152,7.4

In [98]:
df['income'].apply(type).value_counts()

<class 'str'>      100
<class 'float'>      1
Name: income, dtype: int64

In [101]:
df['income_type'] = df['income'].apply(lambda x: type(x).__name__)

In [113]:
def clean_currency(x):
    """ If the value is a string, then remove currency symbol and delimiters
    otherwise, the value is numeric and can be converted
    """
    if isinstance(x, str):
        return(x.replace('$', '',).replace(',', '',))
    return(x)

In [126]:
df['income'] = df['income'].apply(clean_currency).astype('float')
df['income_type'] = df['income'].apply(lambda x: type(x).__name__)

ValueError: could not convert string to float: ' 4o8035783'

In [131]:
df['country'] = df['country'].replace('Italy1', 'Italy')

In [136]:
df.at[df['income'] == '$4o8035783', 'income'] = '$408035783'

InvalidIndexError: You can only assign a scalar value not a <class 'str'>

In [130]:
df

,unnamed: 0,imbd title id,original titlê,release year,genrë¨,duration,country,content rating,director,income,votes,score,income_Type,income_type
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,str,str
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,str,str
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,str,str
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",str,str
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",str,str
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,str,str
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,str,str
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,str,str
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,str,str
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,str,str